<div class="container" id="project_index" hx-ext="response-targets">
    <div class="text-center"><h1>Admin Backend - Projects</h1></div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" id="_csrf">
    {{#iff projects.length ">" 0}}
        <div class="row text-center">
            {{#each projects as |projects| }}
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <a href="/projects/{{ projects._id }}/edit">
                            <img class="img-responsive greyimg" src="/images/{{ projects.project_image }}"
                                 alt="Logo">
                        </a>
                        <div class="caption center-block">
                            {{ projects.project_title }}<br />
                            {{#if projects.is_published}}
                                Published - <a class="unpublish" href="" hx-trigger="click" hx-put="/admin/projects/unpublish/{{projects._id}}" hx-swap="beforebegin" hx-target="#project_index" hx-headers='{ "X-CSRF-TOKEN": "{{csrfToken}}" }'>Unpublish</a>
                            {{else}}
                                Unpublished - <a class="publish" href="" hx-put="/admin/projects/publish/{{projects._id}}" hx-swap="beforebegin" hx-target="#project_index" hx-headers='{ "X-CSRF-TOKEN": "{{csrfToken}}" }'>Publish</a>
                            {{/if}}
                            {{#if projects.show_index}}
                                <input class="projCheckbox" data-id="{{ projects._id}} "type="checkbox" name="projectCheckbox{{projects._id}}" value="projectCheckbox{{projects._id}}" checked hx-put="/projects/update/{{ projects._id }}" hx-headers='{ "X-CSRF-TOKEN": "{{csrfToken}}" }'>
                            {{else}}
                                <input class="projCheckbox" data-id="{{ projects._id}} "type="checkbox" name="projectCheckbox{{projects._id}}" value="projectCheckbox{{projects._id}}" hx-put="/projects/update/{{ projects._id }}" hx-headers='{ "X-CSRF-TOKEN": "{{csrfToken}}" }'>
                            {{/if}}
                            <a 
                                hx-get="/projects/delete-modal/{{ projects._id }}" 
                                hx-target="#confirmation-modal" 
                                hx-swap="innerHTML"
                                hx-trigger="click"
                                class="deleteProject trigger-btn">
                                <i class="fa fa-trash"></i>
                            </a>
                            {{!-- <a class="confirmModal deleteProject trigger-btn" data-id="{{ projects._id}}" data-toggle="modal" data-target="#confirmModal"> <i class="fa fa-trash"></i></a> --}}
                            {{!-- <a class="deleteProject trigger-btn" data-toggle="modal" data-id="{{ projects._id}}" data-target="#confirmModal"> <i class="fa fa-trash"></i></a> --}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <hr>
        There are no published projects at this time.
    {{/iff}}
</div>