<div class="container">
    <div class="text-center"><h1>Admin Backend - Projects</h1></div>
    {{#iff projects.length ">" 0}}
        <div class="row text-center">
            {{#each projects as |projects| }}
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <a href="/projects/{{ projects._id }}/edit">
                            <img class="img-responsive greyimg" src="/images/{{ projects.project_image }}"
                                 alt="Logo">
                        </a>
                        <div class="caption center-block">
                            {{ projects.project_title }}<br />
                            {{#if projects.is_published}}
                                Published - <a class="unpublish" href="" data-id="{{ projects._id}}">Unpublish</a>
                            {{else}}
                                Unpublished - <a class="publish" href="" data-id="{{ projects._id}}">Publish</a>
                            {{/if}}
                            {{#if projects.show_index}}
                                <input class="projCheckbox" data-id="{{ projects._id}} "type="checkbox" name="projectCheckbox{{projects._id}}" value="projectCheckbox{{projects._id}}" checked>
                            {{else}}
                                <input class="projCheckbox" data-id="{{ projects._id}} "type="checkbox" name="projectCheckbox{{projects._id}}" value="projectCheckbox{{projects._id}}">
                            {{/if}}
                            <a class="confirmModal deleteProject trigger-btn" data-id="{{ projects._id}}" data-toggle="modal" data-target="#confirmModal"> <i class="fa fa-trash"></i></a>
                            {{!-- <a class="deleteProject trigger-btn" data-toggle="modal" data-id="{{ projects._id}}" data-target="#confirmModal"> <i class="fa fa-trash"></i></a> --}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <hr>
        There are no published projects at this time.
    {{/iff}}
</div>