{{#iff news.length ">" 0}}
    {{#if search }}
        <input type="hidden" id="pageCount" value={{ totalPages }}>
        <input type="hidden" id="itemCount" value={{ totalPages }}>
        There are {{ totalPages }} pages in the search result for <b>{{ searchTerm }}</b>, with {{ totalItems }} total results.<br />
    {{else}}
        <input type="hidden" id="pageCount" value={{ totalPages }}>
        <input type="hidden" id="itemCount" value={{ totalPages }}>
        <input type="hidden" id="currentPage" value={{ currentPage }}>
        There are {{ totalPages }} pages in the current news index, with {{ totalItems }} total news entries.<br />
    {{/if}}
    <div class="panel-group">
        {{#each news as |news| }}
            <div class="panel panel-info">
                <div class="panel-heading collapsed">
                    <i class="fa fa-fw fa-chevron-down" data-toggle="collapse" data-target="#coll{{ news.counter }}"></i>
                    <i class="fa fa-fw fa-chevron-right" data-toggle="collapse" data-target="#coll{{ news.counter }}"></i>
                    {{{ news.highlightedTitle }}} | {{ news.published_date }}
                </div>
                <div class="panel-collapse collapse custom-text" id="coll{{ news.counter }}">
                    <div class="panel-body">
                        {{{ news.highlightedDescription }}}
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="pagination-holder clearfix parentpage">
            <div id="compact-pagination" class="center"></div>
        </div>
    </div>
{{else}}
  No results found, or news has no entries.
{{/iff}}
