{{#iff projects.length ">" 0}}
    <div class="row text-center">
        {{#each projects as |projects| }}
            <div class="col-md-12 col-xs-3">
                <div class="thumbnail">
                    <a href="/projects/{{ projects.project_name }}">
                        <img class="img-responsive greyimg" src="/images/{{ projects.project_image }}"
                             alt="Logo">
                    </a>
                    <div class="caption center-block">
                        {{ projects.project_title }}<br />
                        {{#if projects.is_published}}
                            Published - <a class="unpublish" href="#" data-id="{{ projects._id}}">Unpublish</a>
                        {{else}}
                            Unpublished - <a class="publish" href="#" data-id="{{ projects._id}}">Publish</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <hr>
    There are no published projects at this time.
{{/iff}}