<div class="container" id="blog">
    <h1>Latest Blog Posts</h1>
    These are the last 5 blog posts that I have made.  If you would like to visit the entire blog, you can do so by clicking <a href="{{blogURL}}">here</a>.
    {{#iff blogPosts.length ">" 0}}
    <div class="panel-group">
        {{#each blogPosts as |posts| }}
        <div class="panel panel-info">
            <div class="panel-heading collapsed">
                <i class="fa fa-fw fa-chevron-down" data-toggle="collapse" data-target="#blog{{ posts.counter }}"></i>
                <i class="fa fa-fw fa-chevron-right" data-toggle="collapse" data-target="#blog{{ posts.counter }}"></i>{{ posts.title }} | {{posts.formatted_date}}
            </div>
            <div class="panel-collapse collapse custom-text" id="blog{{ posts.counter }}">
                <div class="panel-body">
                    {{{ posts.excerpt }}} <a href="{{posts.url}}" data-toogle="tooltip" title="View &quot;{{posts.title}}&quot; on the blog"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
        There appears to have been an issue grabbing the latest blog posts. You can view the blog by clicking <a href="{{blogURL}}">here</a>.
    {{/iff}}
    <hr>
</div>