<div class="container" id="projects">
    <h1>Projects</h1>
    <p>I work on multiple different projects in my free time, some of which are completed, and others that are
    simply basic ideas that I started but may not have finished.  While I only show three projects here on the home page, there are currently
    {{ project_count }} projects that I have listed. To view a list of all projects I have worked on you can click <a href="projects">here</a>.</p>
    {{#iff projects.length ">" 0}}
        <div class="row text-center prjlist">
            {{#each projects as |projects| }}
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <a href="/projects/{{ projects._id }}">
                            <img class="img-responsive greyimg" src="/images/{{ projects.project_image }}"
                                 alt="Logo">
                        </a>
                        <div class="caption center-block">
                            {{ projects.project_title }}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        Uh oh! It appears I haven't selected any projects to display here.
    {{/iff}}
    <hr>
</div>