<div class="container">
    <div class="text-center">
        <div class="{{ type }}">{{ message }}</div>
    </div>
    <div class="text-center"><h1>Projects Index</h1></div>
    <p>Welcome to my projects index! Below is a list of all projects that I have worked on, am working on, or have contributed to over time.  You can click
    the project image to learn more about a specific project.  Not every project I have worked on may be listed on this page.  To see more things I have worked on
    that may not be listed here, you can visit my GitHub, which you can find by clicking the icon in the footer of the page.</p>
    <div class="row text-center">
        {{#each projects as |projects| }}
            <div class="col-md-3 col-xs-6">
                <div class="thumbnail">
                    <a href="/projects/{{ projects.project_name }}">
                        <img class="img-responsive greyimg" src="/images/{{ projects.project_image }}"
                             alt="Logo">
                    </a>
                    <div class="caption center-block">{{ projects.project_title }}</div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
