<div class="container">
    <div class="text-center">
        <h1>{{ project_title }}</h1>
        <h4><a href="{{ project_source }}" target="_blank">Source</a></h4>
    </div>
    <p>{{{ project_description }}}</p>
    <hr>
    <div id="edit">
        {{#if authenticated}}
            <div><a href="{{project_name}}/edit" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> Edit Project</a></div>
        {{/if}}
        {{#if last_save_date}}<div id="lastedit">Last Updated: {{ last_save_date }}</div>{{/if}}
    </div>
</div>
