{{!-- Main Layout Template --}}
<!doctype HTML>
<html>
{{> header}}
<body>
    <!--<div id="welcomeMsg" class="welcome hide">Hey, I'm Ryan, and welcome to my site!</div>-->
    <!--<div id="mainBody"> -->
        {{> nav}}
        <div id="statusBox" hx-target="this" hx-swap="innerHTML" hx-trigger="load" nonce="{{nonce}}">{{> status}}</div>
        {{> login}}
        {{{ body }}}

        {{!-- In the footer we display the currentyear variable that we set in the app.js file --}}
        {{> footer currentyear=currentyear}}
    <!-- </div> --> 
    <script nonce="{{nonce}}">
        if (!window.grecaptcha) {
            const script = document.createElement('script');
            script.src = 'https://www.google.com/recaptcha/api.js?trustedtypes=true&render=6LeCKqYUAAAAAAh4n_WgK7e-fKbqOgrukjjBmqBG';
            script.async = true;
            script.defer = true;
            document.head.appendChild(script);
        }
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.10" nonce="{{nonce}}"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js" nonce="{{nonce}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" nonce="{{nonce}}"></script>
    <script rel="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" nonce="{{nonce}}"></script>
    <script rel="text/javascript" src="{{ versionedFile 'site.js' 'dist' 'js'}}" nonce="{{nonce}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" nonce="{{nonce}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js" nonce="{{nonce}}"></script>
    <script nonce="{{nonce}}">hljs.highlightAll();</script>
    <!--<script rel="text/javascript" src="{{ versionedFile 'trustedtype.js' 'dist' 'js'}}" nonce="{{nonce}}"></script>-->
    <script type="module" src="{{ versionedFile 'trustedtype.js' 'dist' 'js'}}" nonce="{{nonce}}"></script>
    {{!-- <script rel="text/javascript" src="{{ versionedFile 'welcome.js' 'dist' 'js'}}" nonce="{{nonce}}"></script> --}}
    {{!-- <script type="text/javascript" nonce="{{nonce}}" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> --}}
    {{!-- <script src="https://www.google.com/recaptcha/api.js?render=6LeCKqYUAAAAAAh4n_WgK7e-fKbqOgrukjjBmqBG" nonce="{{nonce}}" async defer></script> --}}
</body>
</html>
