{{!-- Main Layout Template --}}
<!doctype HTML>
<html>
{{> header }}
<body>
{{> nav}}

{{{ body }}}

{{!-- In the footer we display the currentyear variable that we set in the app.js file --}}
{{> footer currentyear=currentyear }}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"
        nonce="{{nonce}}">
</script>
<script rel="text/javascript" nonce="{{nonce}}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{{#if new_project}}
    <script nonce="{{nonce}}" src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script nonce="{{nonce}}">
        var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
    </script>
{{/if}}
{{#if update_project}}
    <script nonce="{{nonce}}" src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script nonce="{{nonce}}">
        var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
    </script>
{{/if}}
<!--<script type="text/javascript" src="/js/tabopen.js"></script>-->
</body>
</html>
