<div class="container">
    <div class="text-center"><h1>Admin Backend - News</h1></div>
    {{#iff news.length ">" 0}}
        <div class="row text-center">
            {{#each news as |news| }}
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <a href="/news/{{ news.news_title }}/edit">
                        </a>
                        <div class="caption center-block">
                            {{ news.news_title }}<br />
                            {{#if news.is_published}}
                                Published - <a class="unpublishNews" href="#" data-id="{{ news._id}}">Unpublish</a>
                            {{else}}
                                Unpublished - <a class="publishNews" href="#" data-id="{{ news._id}}">Publish</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <hr>
        There are no news articles at this time.
    {{/iff}}
    <hr><br>
    <form action="/admin/news/new" method="post">
        <div class="form-group">
            <input type="text" name="news_title" placeholder="News Title" size="40" {{#if news_title}}value="{{news_title}}"{{/if}}>
            <input type="text" name="news_description" placeholder="News Content" size="100" {{#if news_description}}value="{{news_description}}"{{/if}}>
        </div>
        <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Submit News</button>
    </form>
</div>