<div class="container" id="welcome" xmlns="http://www.w3.org/1999/html">
    <div class="text-center"><h1>Ryan Malacina</h1></div>
    <p>Hey there, and welcome to my site!</p>
    <p>I am currently working on updating the site and making overhauling changes to make the site more unique
    to me and only me.  You can navigate around what portions of the site are complete by clicking the relevant link
    in the navigation bar.</p>
    <hr>
</div>
<div class="container" id="projects">
    <div class="text-center"><h1>Projects</h1></div>
    <p>I work on multiple different projects in my free time, some of which are completed, and others that are
    simply basic ideas that I started but may not have finished.  Below is the list of projects I have worked on; simply click
    the arrows on either side to scroll through the carousel of different projects I am either working on or have finished 
    and are what I consider major things I've worked on.  To visit the full
    list of all projects I have worked on, in a page list instead of a carousel, you can click <a href="projects">here</a>.</p>
    {{#iff projects.length ">" 0}}
        <div class="row text-center prjlist">
            {{#each projects as |projects| }}
                <div class="col-md-4 col-xs-4">
                    <div class="thumbnail">
                        <a href="/projects/{{ projects.project_name }}">
                            <img class="img-responsive greyimg" src="/images/{{ projects.project_image }}"
                                 alt="Logo">
                        </a>
                        <div class="caption center-block">
                            {{ projects.project_title }}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        There are no published projects at this time.
    {{/iff}}
    <hr>
</div>
<div class="container" id="site-news">
    <div class="text-center"><h1>Site News and Updates</h1></div>
    {{#iff news.length ">" 0}}
        <div class="row text-center">
            {{#each news as |news| }}
                <p>Site news and updates is still being worked on.</p>
            {{/each}}
        </div>
    {{else}}
        This section coming soon.
    {{/iff}}
    <hr>
</div>
<div class="container" id="contact">
    <!--Section: Contact v.2-->
    <section class="mb-4">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
        <div class="text-center" id="emailalert">
            <div class="alert alert-danger center-block">
                <span id="emailerror"></span>
            </div>
        </div>
        <!--Section description-->
        <div id="contactformdiv">
            <p class="text-center w-responsive mx-auto mb-5">Shoot me a message and I'll get back to you as soon as I can.<br>
            Please note: if the captcha times out, please wait a minute and try again.  Sorry about that.</p>
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="post" method="POST">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Name</label>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-center">
                            <div class="g-recaptcha" data-sitekey="{{siteKey}}"></div>
                            <div class="text-md-left">
                                <a class="btn btn-primary" id="submitmail">Send Email</a>
                            </div>
                        </div>
                    </form>
                    <div id="status"></div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Contact v.2-->
</div>
