{{#if new_project }}
    <div class="container">
        {{#iff error.length '>' 0}}
            <div class="text-center">
                <div class="alert alert-danger alert-dismissible center-block">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error }}
                </div>
            </div>
        {{/iff}}
        <form action="/projects/new" method="post" enctype="multipart/form-data">
	        <div class="form-group">
                Project Name<br> <input type="text" class="custom-text" name="project_name"
                                        {{#if project_name}}value="{{project_name}}"{{/if}}><br><br>
                Project Title<br> <input type="text" class="custom-text" name="project_title"
                                         {{#if project_title}}value="{{project_title}}"{{/if}}><br><br>
                Source<br> <input type="text" class="custom-text" name="project_source"
                                  {{#if project_source}}value="{{project_source}}"{{/if}}><br><br>
                Project Description<br>
                <textarea class="input-block-level" id="editor"
                          name="project_description">{{#if project_description}}{{ project_description }}{{/if}}</textarea>
                Image<br> <input type="file" class="custom-text" name="project_image"><br><br>
	        </div>
	        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span> Submit New Project</button>
        </form>
    </div>
{{/if}}
{{#if update_project}}
    <div class="container">
        <div class="text-center">
            {{#if error_message}}<div class="error">{{ error_message }}</div>{{/if}}
            <h1>Update {{project_title}}</h1>
        </div>
        <form action="/projects/edit" method="post" enctype="multipart/form-data">
	        <div class="form-group">
                Project Name<br> <input type="text" class="custom-text" name="project_name"
                                        {{#if project_name}}value="{{project_name}}"{{/if}}><br><br>
                Project Title<br> <input type="text" class="custom-text" name="project_title"
                                         {{#if project_title}}value="{{project_title}}"{{/if}}><br><br>
                Source<br> <input type="text" class="custom-text" name="project_source"
                                  {{#if project_source}}value="{{project_source}}"{{/if}}><br><br>
                Project Description<br>
                <textarea class="form-control" id="editor"
                          name="project_description">{{#if project_description}}{{ project_description }}{{/if}}</textarea>
                Image<br> <img src="/images/{{ project_image}}">
                <input type="file" class="custom-text" name="project_image"><br><br>
            </div>
	        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span> Update Project</button>
        </form>
    </div>
{{/if}}
