{{#if new_project }}
    <div class="container">
        <div class="text-center">
            {{#if error_message}}<div class="error">{{ error_message }}</div>{{/if}}
            <h1>Create New Project</h1>
        </div>
        <form action="/projects/new" method="post">
            Project Name<br> <input type="text" class="custom-text" name="project_name"
                                    {{#if project_name}}value="{{project_name}}"{{/if}}><br><br>
            Project Title<br> <input type="text" class="custom-text" name="project_title"
                                     {{#if project_title}}value="{{project_title}}"{{/if}}><br><br>
            Source<br> <input type="text" class="custom-text" name="project_source"
                              {{#if project_source}}value="{{project_source}}"{{/if}}><br><br>
            <textarea class="input-block-level" id="editor"
                      name="project_description">{{#if project_description}}{{ project_description }}{{/if}}</textarea>
            Image URL<br> <input type="text" class="custom-text" name="project_image"
                                 {{#if project_image}}value="{{project_image}}"{{/if}}><br><br>
            <input type="submit" value="Submit New Project">
        </form>
    </div>
{{/if}}
{{#if update_project}}
    <div class="container">
        <div class="text-center">
            {{#if error_message}}<div class="error">{{ error_message }}</div>{{/if}}
            <h1>Update {{project_title}}</h1>
        </div>
        <form action="/projects/edit" method="post">
            Project Name<br> <input type="text" class="custom-text" name="project_name"
                                    {{#if project_name}}value="{{project_name}}"{{/if}}><br><br>
            Project Title<br> <input type="text" class="custom-text" name="project_title"
                                     {{#if project_title}}value="{{project_title}}"{{/if}}><br><br>
            Source<br> <input type="text" class="custom-text" name="project_source"
                              {{#if project_source}}value="{{project_source}}"{{/if}}><br><br>
            <textarea class="input-block-level" id="editor"
                      name="project_description">{{#if project_description}}{{ project_description }}{{/if}}</textarea>
            Image URL<br> <input type="text" class="custom-text" name="project_image"
                                 {{#if project_image}}value="{{project_image}}"{{/if}}><br><br>
            <input type="submit" value="Update Project">
        </form>
    </div>
{{/if}}