{{#if new_project }}
    <div class="container">
        <form action="/projects/new" method="post" enctype="multipart/form-data">
	        <div class="form-group">
                Project Name<br> <input type="text" class="custom-text" name="project_name" placeholder="Project Name"
                                        {{#if project_name}}value="{{project_name}}"{{/if}}><br><br>
                Project Title<br> <input type="text" class="custom-text" name="project_title" placeholder="Project Title"
                                         {{#if project_title}}value="{{project_title}}"{{/if}}><br><br>
                Source<br> <input type="text" class="custom-text" name="project_source" placeholder="https://github.com/account/project"
                                  {{#if project_source}}value="{{project_source}}"{{/if}}><br><br>
                Project Description<br>
                <textarea class="input-block-level" id="editor" name="project_description">{{#if project_description}}{{ project_description }}{{/if}}</textarea>
                Image<br> <input type="file" class="custom-text" name="project_image"><br><br>
	        </div>
	        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span> Submit New Project</button>
        </form>
    </div>
{{/if}}
{{#if update_project}}
    <div class="container">
        <form action="/projects/edit" method="post" enctype="multipart/form-data">
	        <div class="form-group">
                Project Name<br> <input type="text" class="custom-text" name="project_name"
                                        {{#if project_name}}value="{{project_name}}"{{/if}}><br><br>
                Project Title<br> <input type="text" class="custom-text" name="project_title"
                                         {{#if project_title}}value="{{project_title}}"{{/if}}><br><br>
                Source<br> <input type="text" class="custom-text" name="project_source"
                                  {{#if project_source}}value="{{project_source}}"{{/if}}><br><br>
                Project Description<br>
                <textarea class="form-control" id="editor" name="project_description">{{#if project_description}}{{ project_description }}{{/if}}</textarea>
                <div class="col-md-3 col-xs-6">
                    <div class="thumbnail">
                        <a href="/projects/{{ projects.project_name }}">
                            <img class="img-responsive" src="/images/{{ project_image}}"
                                 alt="Logo">
                        </a>
                        <div class="caption center-block">Current Image</div>
                    </div>
                </div>
                <input type="file" class="custom-text" name="project_image"><br><br>
            </div>
	        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span> Update Project</button>
        </form>
    </div>
{{/if}}
