<div class="container">
    <div class="text-center"><h1>Admin Backend - News</h1></div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" id="_csrf">
    {{#iff news.length ">" 0}}
        <div class="row text-center">
            {{#each news as |news| }}
                <div class="col-md-3 col-xs-3">
                    <div class="thumbnail">
                        <div class="caption center-block">
                            <a class="editNews" href="/admin/news/{{ news._id}}/edit" data-id="{{ news._id}}"> <i class="fa fa-pencil"></i></a>
                            {{!-- <a class="confirmModal trigger-btn" data-id="{{ news._id}}" data-toggle="modal" data-target="#confirmModal "> <i class="fa fa-trash"></i></a> --}}
                            <a 
  hx-get="/admin/news/delete-modal/{{ news._id }}" 
  hx-target="#confirmation-modal" 
  hx-swap="innerHTML"
  hx-trigger="click"
  class="trigger-btn">
  <i class="fa fa-trash"></i>
</a>
                            {{ news.news_title }}<br />
                            {{#if news.is_published}}
                                Published - <a class="unpublishNews" href="" hx-put="/admin/news/unpublish/{{news._id}}" hx-target="#statusBox" hx-swap="innerHTML" hx-trigger="click" hx-headers='{ "X-CSRF-TOKEN": "{{csrfToken}}" }'>Unpublish</a>
                            {{else}}
                                Unpublished - <a class="publishNews" href="" hx-put="/admin/news/publish/{{news._id}}" hx-target="#statusBox" hx-swap="innerHTML" hx-trigger="click" hx-headers='{ "X-CSRF-TOKEN": "{{csrfToken}}" }'>Publish</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <hr>
        There are no news articles at this time.
    {{/iff}}
    <hr><br>
    <form action="/admin/news/new" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <label for="news_title">News Title</label><br>
            <input type="text" class="custom-text" name="news_title" placeholder="News Title" value="{{#if news_title}}{{news_title}}{{/if}}"><br><br>
            <div class="form-group">
                <label for="news_description">News Content - Max 2000 characters</label><br>
                <textarea class="input-block-level" id="editor" name="news_description">{{#if news_description}}{{news_description}}{{/if}}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Submit News</button>
    </form>
</div>